.ProductCard .CardMedia,
.ProductCard .CardText {
    cursor: pointer;
}
.ProductCard {
    display: flex;
    width: 100%;

    &:hover {
        box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2), 0 11px 15px 1px rgba(0, 0, 0, 0.14),
            0 4px 20px 3px rgba(0, 0, 0, 0.12);
    }

    .product-card-labels {
        position: absolute;
        max-width: 100%;
        z-index: 1;
        width: 100%;
        padding-right: 8px;
        text-align: right;
    }
    .CardMedia {
        .ProductCard__image {
            height: 100%;

            .ProductCard__image__background {
                width: 100%;
                height: auto;
                padding-bottom: 65%;
                background-size: cover;
                background-position: 50%;
                background-repeat: no-repeat;
            }
        }
    }
}
